/* About Component styles  */
.about-container {
    margin-top: 100px;
    padding-bottom: 30px;
    min-height: 100vh;
}
.about {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 30px;
}
.about-div {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: white;
    padding: 20px 30px;
    border-radius: 15px;
}

/* Media query for mobile tablet device  */
@media only screen and (max-width: 767px) {
    .about-row {
        flex-direction: column-reverse;
    }
    .about-div {
        padding: 10px 20px;
    }
    .about-heading {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 600;
    }
    .about {
        font-size: 13px;
        line-height: 20px;
    }
}