.my-bookings-container {
    padding-top: 100px;
    min-height: 100vh;
}
td,th {
    font-size: 12px;
}
.fa-times-circle {
    color: red;
    font-size: 25px;
}
.PENDING {
    background-color: #f8c63b !important;
    color: white;
    font-weight: 500;
}
.APPROVED {
    background-color: green !important;
    color: white;
    font-weight: 500;
}
.booking-header {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
.dropdown-toggle {
    font-size: 12px;
}
.dropdown-item {
    font-size: 12px;
}
.table-responsive {
    min-height: 40vh;
}
@media only screen and (max-width:575px) {
    td,th,.dropdown-item,.dropdown-toggle {
        font-size: 10px;
    }
    .booking-header {
        font-size: 20px;
    }
}